.loading-page {
  align-items: center;
  background-color: rgb(5, 4, 61);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.loading-message {
  color: goldenrod;
  font-size: 4em;
  font-style: italic;
  font-weight: 700;
}
