.table-page {
  width: 100%;
}

.expenses-table {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
}

.expenses-table th , td {
  display: flex;
  justify-content: center;
  width: 12%;
}

.table-head {
  align-items: center;
  background-color: rgb(218, 165, 32, 0.8);
  border-top: solid 5px white;
  color: white;
  display: flex;
  height: 50px;
  width: 100%;
}

.expenses-table tbody {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.expenses-table tr {
  display: flex;
  width: 100%;
}

.expenses-table th {
  border-radius: 10px;
  padding: 5px 20px;
}

.table-info {
  background-color: rgb(218, 165, 32, 0.2);
  color: rgb(0, 0, 0, 0.6);
  padding: 20px 0;
}

.expenses-table button {
  background-color: rgb(218, 165, 32, 0.6);
  border: solid 3px goldenrod;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
}

.expenses-table button:hover {
  background-color: goldenrod;
  color: white;
}

.expenses-table button:active {
  background-color: gold;
  color: black;
}
